    <div class="row">
        
        
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> {{ chart.title }}
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="highchart-{{ chart.id }}" class="chart"></div>
                </div>
            </div>
        </div>
        
        


    </div>
        
<br>