<div class="row">
    <div class="col-md-3">
        <div class="info-tile tile-orange">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa {{ stats.0.icon }} fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ stats.0.value }}</div>
                        <div> {{ stats.0.title }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="info-tile tile-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa {{ stats.1.icon }} fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{stats.1.value }}</div>
                        <div>{{ stats.1.title }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-tile tile-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa {{ stats.2.icon }} fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ stats.2.value }}</div>
                        <div>{{ stats.2.title }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-tile tile-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa {{ stats.2.icon }} fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ stats.3.value }}</div>
                        <div>{{ stats.3.title }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

