w<!DOCTYPE html>
<html>
    <head>
        <title>Patient List</title>
        
        <meta charset="utf-8">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="author" content="KaijuThemes">
        <meta name="description" content="Track you daily acitivities using FitBit and make new targets on the basis of those readings to Stay Fit and Fine.">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet' type='text/css'>
        <link type="text/css" href="static/assets/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">
        <link type="text/css" href="static/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link type="text/css" href="static/assets/fonts/themify-icons/themify-icons.css" rel="stylesheet">               <!-- Themify Icons -->
        <link type="text/css" href="static/assets/css/styles.css" rel="stylesheet">
    </head>

   
    <body>
    <div class="container" id="registration-form">
        <div class="row" style="padding-top:200px">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    
                    <div class="panel-body">
                        <form id='form1' action='/login' class="form-horizontal">
                            <input type="hidden" name="access-token" id='access-token' value="">
                            <input type="hidden" name="refresh-token" id='refresh-token' value="">
                            <input type="hidden" name="userId" id='userId' value="">
                            <input type="hidden" name="secretKey" id='secretKey' value="">
                    
                <div class="form-group mb-md">
                               

                {% if session['type'] !='Patient': %}
                <div id="userlist" class="row">
                    <div class="col-lg-12">
                        <h2 align="center">Patient List</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Patient Name</th>
                                        <th>Email Id</th>
                                        <th>View Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in userProfile%}
                                    <tr>
                                        <td>{{row["Name"]}}</td>
                                        <td>{{row["EmailId"]}}</td>
                                        <td><input type="button" onclick="openFitbitUrl('{{row["clientId"]}}','{{row["secretKey"]}}','{{row["redirectUri"]}}','{{row["UserId"]}}')" value="View" 
                                        class="btn btn-primary "></input>
</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% else %}
                <div id="userlist" class="row">
                    <div class="col-lg-12">
                        <h2 align="center">User List</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email Id</th>
                                        <th>View Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in userProfile%}
                                    <tr>
                                        <td>{{row["Name"]}}</td>
                                        <td>{{row["EmailId"]}}</td>
                                        <td><input type="button" onclick="openFitbitUrl('{{row["clientId"]}}','{{row["secretKey"]}}','{{row["redirectUri"]}}','{{row["UserId"]}}')" value="View" 
                                        class="btn btn-primary"></input>
</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}
                </form>

                
                </div>
            </div>
        </div>
    </div>
    </body>

    <script type="text/javascript" src="static/assets/js/jquery-1.10.2.min.js"></script>                            <!-- Load jQuery -->
    <script type="text/javascript" src="static/assets/js/jqueryui-1.10.3.min.js"></script>                          <!-- Load jQueryUI -->
    <script type="text/javascript" src="static/assets/js/bootstrap.min.js"></script>                                <!-- Load Bootstrap -->
    <script type="text/javascript" src="static/assets/js/enquire.min.js"></script>                                  <!-- Load Enquire -->

    <script type="text/javascript" src="static/assets/plugins/velocityjs/velocity.min.js"></script>                 <!-- Load Velocity for Animated Content -->
    <script type="text/javascript" src="static/assets/plugins/velocityjs/velocity.ui.min.js"></script>

    <script type="text/javascript" src="static/assets/plugins/wijets/wijets.js"></script>                       <!-- Wijet -->
    <script type="text/javascript" src="static/assets/plugins/codeprettifier/prettify.js"></script>                 <!-- Code Prettifier  -->
    <script type="text/javascript" src="static/assets/plugins/bootstrap-switch/bootstrap-switch.js"></script>       <!-- Swith/Toggle Button -->

    <script type="text/javascript" src="static/assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->

    <script type="text/javascript" src="static/assets/plugins/iCheck/icheck.min.js"></script>                       <!-- iCheck -->

    <script type="text/javascript" src="static/assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->

    <script type="text/javascript" src="static/assets/js/application.js"></script>
    <script type="text/javascript" src="static/assets/demo/demo.js"></script>
    <script type="text/javascript" src="static/assets/demo/demo-switcher.js"></script>
 <script>
        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        window.onload = function() {
            var code = getParameterByName('code');
            if(code != null)
            {
        var clientId=localStorage.getItem("clientId");
        var secretKey = localStorage.getItem("secretKey");
        var redirectUri = localStorage.getItem("redirectUri");
                code = code.replace(/#_=_/g, "");
                $.ajax
                ({
                    type: "POST",
                    url: "https://api.fitbit.com/oauth2/token",
                    dataType: 'json',
                    async: false,
                    headers: {
                        "Authorization": "Basic " + btoa(clientId + ":" + secretKey)
                    },
                    data: "client_id="+clientId+"&grant_type=authorization_code&redirect_uri="+encodeURI(redirectUri)+"&code="+code,
                    success: function (data){
            localStorage.clear();
                $('#userId').val(clientId);
                $('#secretKey').val(secretKey);
                $('#access-token').val(data.access_token);
                $('#refresh-token').val(data.refresh_token);
                $("#form1").submit( );
                    }
                });
            }
        };
        function openFitbitUrl(clientId,secretKey,redirectUri,userId) {
            var statusObj={"userId":userId};
            $.ajax
                ({
                    type: "POST",
                    url: 'http://' + window.location.host + '/updateCredentials',
                    contentType:"application/json",
                    dataType: 'json',
                    async: false,
                    data: JSON.stringify(statusObj),
                    success: function (data){
                        console.log("updated");
                    }
                });

        if (typeof(Storage) !== "undefined") {
                localStorage.setItem("clientId", clientId);
            localStorage.setItem("secretKey", secretKey);
            localStorage.setItem("redirectUri", redirectUri);
window.open("https://www.fitbit.com/oauth2/authorize?response_type=code&client_id="+clientId+"&redirect_uri="+encodeURI(redirectUri)+"&scope=activity%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight&expires_in=604800","_self");
        } 
    
        }

function newCredentialsLogin() {
        var clientId = $('#clientId').val();
        if (clientId  === '') {
                alert('Client Id cannot be empty.');
                return false;
            }
        var secretKey = $('#clientIdSecretKey').val();
        if (secretKey  === '') {
                alert('Secret Key cannot be empty.');
                return false;
            }
        var redirectUri = $('#redirecturi').val();
        if (redirectUri  === '') {
                alert('Redirect Uri cannot be empty.');
                return false;
            }
if (typeof(Storage) !== "undefined") {
                localStorage.setItem("clientId", clientId);
            localStorage.setItem("secretKey", secretKey);
            localStorage.setItem("redirectUri", redirectUri);
window.open("https://www.fitbit.com/oauth2/authorize?response_type=code&client_id="+clientId+"&redirect_uri="+encodeURI(redirectUri)+"&scope=activity%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight&expires_in=604800","_self");
        } 
        }
    </script>
</html>
