{% extends "base.html" %}
        {% block content %}

                <div class="static-content-wrapper">
                    <div class="static-content">
                        <div class="page-content">
                            <div class="container-fluid">

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h1 class="page-header">
                                                Add Food
                                            </h1>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h3>
                                                Enter Food Item Name To Check Calories
                                            </h3>
                                        </div>
                                    </div>

                                <br>
                                <div data-widget-group="group1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-md-10">
                                            
                                            <div class="panel" data-widget='{"draggable": "false"}'>
                                                
                                                <div class="panel-body">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="horizontal-form">
                                                            <form class="form-horizontal" id="foodEntryForm"  method="post"  action="/fooditemsadd">
                                                                <div class="form-group">
                                                                    <label for="selector1" class="col-sm-2 control-label">Food Item</label>
                                                                    <div class="col-sm-8">
                                                                            <input type="text" id="ajax" class="form-control" name="fooditemname" list="json-datalist" placeholder="e.g. Pizza">
                                                                            <datalist id="json-datalist"></datalist>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="mediuminput" class="col-sm-2 control-label">Quantity</label>

                                                                    <div class="col-sm-8">
                                                                        <input type="number" class="form-control" name="qauntity" id="mediuminput" placeholder="Grams or portions">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    
                                                                </div>
                                                                <center>
                                                                 <input type="submit" class="btn-primary btn" value="Submit"> 
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                 <button class="btn-default btn">Cancel</button>
                                                                 </center>
                                                            </form>
                                                        </div>
                                                        
                                                        
                                                        
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                


                            </div> <!-- .container-fluid

                    </div> <!-- #page-content -->
                </div>
        {% endblock %}



        {% block footer %}

        <footer role="contentinfo">
                    <div class="clearfix">
                        <ul class="list-unstyled list-inline pull-left">
                            
                        </ul>
                        <button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top"><i class="ti ti-arrow-up"></i></button>
                    </div>
                    <script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 
          <style type="text/css">
          .goog-te-banner-frame.skiptranslate{display:none!important;}
          body{top:0px!important;}
          </style>
                </footer>
                </div>
            </div>
        </div>


 
    
    <!-- Switcher -->
{%- block scripts -%}
{% endblock %}

    <!-- Load site level scripts -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> -->

<script src="/static/components/highcharts/highcharts.js"></script>
<script src="/static/components/highcharts/highcharts-more.js"></script>
<script src="/static/assets/scripts/getDate.js"></script>


<script type="text/javascript" src="static/assets/js/jqueryui-1.10.3.min.js"></script>                      <!-- Load jQueryUI -->

<script type="text/javascript" src="static/assets/js/enquire.min.js"></script>                                     <!-- Load Enquire -->


<script type="text/javascript" src="static/assets/plugins/velocityjs/velocity.min.js"></script>                    <!-- Load Velocity for Animated Content -->
<script type="text/javascript" src="static/assets/plugins/velocityjs/velocity.ui.min.js"></script>

<script type="text/javascript" src="static/assets/plugins/wijets/wijets.js"></script>                          <!-- Wijet -->

<script type="text/javascript" src="static/assets/plugins/codeprettifier/prettify.js"></script>                <!-- Code Prettifier  -->
<script type="text/javascript" src="static/assets/plugins/bootstrap-switch/bootstrap-switch.js"></script>      <!-- Swith/Toggle Button -->

<script type="text/javascript" src="static/assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->

<script type="text/javascript" src="static/assets/plugins/iCheck/icheck.min.js"></script>                      <!-- iCheck -->

<script type="text/javascript" src="static/assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->

<script type="text/javascript" src="static/assets/js/application.js"></script>
    <script>
    // Get the <datalist> and <input> elements.
    var dataList = document.getElementById('json-datalist');
    var input = document.getElementById('ajax');
    input.addEventListener("keyup", function (event) {
    $(".newclass").each(function() {
                        $(this).remove();
                    });
            $.ajax
                ({
                    type: "GET",
                    url: 'http://'+window.location.host+'/fooditems',
                    dataType: 'json',
                    async: false,
                    data: "keyword="+$(input).val(),
                    success: function (data){
                var jsonOptions = data.result;
                
                      // Loop over the JSON array.
                      jsonOptions.forEach(function(item) {
                    //alert(item['name'])
                    // Create a new <option> element.
                    var option = document.createElement('option');
                    // Set the value using the item in the JSON array.
                    option.value = item['name'];
                    $(option).attr("class","newclass");
                    // Add the <option> element to the <datalist>.
                    dataList.appendChild(option);
                      });

                      // Update the placeholder text.
                      input.placeholder = "e.g. datalist";

                    }
                });
          }, false);
</script>
    <!-- End loading page level scripts-->
    </body>


</html>
        {% endblock %}
