<meta name="description" content="Analytics.fit: A Deep Dive Statistical Analysis of Your Fitbit Data">
<meta name="keywords" content="Fitbit, Analytics, Graphs, Trends">

<meta property="og:title" content="Analytics.fit">
<meta property="og:type" content="website">
<meta property="og:image" content="http://www.analytics.fit/static/assets/img/analytics_fit.png">
<meta property="og:url" content="http://www.analytics.fit">
<meta property="og:description" content="A Deep Dive Statistical Analysis of Your Fitbit Data">

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://www.analytics.fit">
<meta name="twitter:title" content="Analytics.fit">
<meta name="twitter:description" content="A Deep Dive Statistical Analysis of Your Fitbit Data">
<meta name="twitter:image" content="http://www.analytics.fit/static/assets/img/analytics_fit.png">
