.header-margin {
  margin-top: 70px;
}

html, body, #wrapper, #page-wrapper {
  min-height: 100%;
  width: 100%;
}

.chart {
  min-height: 300px;
  width: 100%;
}

img.logo {
  height: 100%;
  display: inline;
  margin: -5px 5px 0 5px;
}